@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .p_cont {
        width: 100%;
    }

}

html{
    margin:0;
    padding: 0;
}

body {
    background-color:rgb(32, 33, 36);
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
}
.p_cont{
    margin: 60px;
    width: 100%;
    height: auto;

}

.header {
    position: relative; /* Make sure the positioning context is set for the pseudo-element */
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center calc(35% - 2px); 
    opacity: 0.5;
    z-index: -1; /* Ensure the pseudo-element is rendered below other elements */
}


.text-header{
    margin-left: 2em;
    width: auto;
    align-content: flex-start;
    color: rgb(232, 232, 232);
    font-family: "Poppins", sans-serif;
}
.side_nav{
    justify-content: center;
    text-align: center;
    width: 100%;

}
.h1-pm{
    color: rgb(232, 232, 232);
    text-align: start;
    padding-left: 1.5rem;
}


form#form {
    border: none;
    border-radius: 2rem;
    background-color: rgb(49, 49, 49);
    width: 100%;
    max-width: 768px;
    margin: 0 auto; 
    display: inline-flex;
    align-items: center;
    height: 3.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  input#search {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 25px;
    width: 100%;
    height: 100%;
    color: rgb(209, 209, 209);
  }

  #search::placeholder{
    color:  rgba(255, 255, 255, 0.3);
  }
  
  
  button.button-inside{
    margin-right: 0.4rem;
    /* Just a little styling to make it pretty */
    background-color:inherit;
    background-position: center;
    background-image: url(images/loupe.png);
    background-repeat: no-repeat;
    background-size: 50%;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50px;
    border: none;
    opacity: .6;
  }

  .button-inside:hover{
    filter: brightness(50%);
}

.popular-movies{
    background-color:rgb(119, 154, 236) ;

}
.title{
    color: rgb(235, 235, 235);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}



.p-selection{
    width: 100%;
    height: auto;
    background-color: azure;
    display: flex;
flex-wrap: wrap;
}

.genre-selection {
    flex-direction: column; /* Change to column layout */
    background-color: rgb(36, 98, 77);
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 40px;/* Align items at the top */
}

.genres {
    width: 30rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
form#select-genre {
    width: 100%;
    display: flex;
    flex-direction: row; /* Align children in a column */
    align-items:center;
    align-content: center;
    justify-content: space-evenly;/* Align items at the top */
}

.i-s-style {
    color: rgb(203, 203, 65);
    background-color: transparent;
    border: 1px solid rgb(203, 203, 65);
    width: 4.3rem;
    height: 2rem;
    border-radius: 20px;
}

.i-s-style:hover {
    color: black;
    background-color: rgb(203, 203, 65);
}

.i-s-style:active, .active {
    border: none;
    background-color: rgb(203, 203, 65);
    color: black;
}
.selected-genre-movies{
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: aqua;
}

.movies-container, .popular-movies {
    display: flex;
    align-items: center;
    justify-content: center; /* Align items at the top */
    width: 100%;
    flex-wrap: wrap;
}
.movie-card {
    position: relative;
    background-color: rgb(96, 96, 96);
    border-radius: 5px;
    height: 350px;
    width: 250px;
    margin: 3rem;
    overflow: hidden;
}



.img-div {
    position: relative;
    display: flex;
    align-items: start;
    align-content: center;
    justify-content: space-evenly;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.f-s-mi {
    margin: 0;
    padding: 0;
    color: white;
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
    color: rgb(209, 209, 209);
}

.movie-info-container {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 34px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    align-content: center;
    transition: bottom 0.2s ease-in;
}
.movie-card:hover .movie-info-container{
    transform: translateY(-50px);
}

.movie-card:hover img {
    transform: translateY(-80px);
}

.movie-card:hover .movie-info-container {
    bottom: 0;
}
#movie-title{
    margin-bottom: 3px;
    font-size: 1rem;
    color: rgb(215, 186, 102);
    font-weight: 900;
}
